# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
ansible-netbox-venv/
venv/
.env/

# Ansible
*.retry
*.log
*.fact
*.cache/
.cache/

# Secrets
*.vault
*.key
*.pem
*.crt
.envrc

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
